*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse specific git ignore (source: http://stackoverflow.com/questions/18726217/gitignore-file-for-java-eclipse-project)
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
